
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz App</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <h1 class="username"><%= quizzes[0].username %>'s quizzes</h1>
    <% if(quizzes) { %>
    <div id="delete-container">
    <% for (const quiz of quizzes) { %>
      <div class="delete">
        <h1><%= quiz.title %></h1>
        <h2><%= quiz.category %></h2>
        <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
        <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
        <p><%= quiz.description %></p>
        <h6>Times played: <%= quiz.times_played %></h6>
        <% if (quiz.time_limit === '00:00:00') { %>
          <% quiz.time_limit = 'None'; %>
        <% } %>
        <h6>Time limit: <%= quiz.time_limit %></h6>
        <div class='row-container'>
          <a href="/quiz/new/<%= quiz.id %>/question" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
          <button quId="<%= quiz.id %>" type="button" class="btn btn-outline-primary share-quiz"><i class="fab fa-usb"></i></button>
          <form action="/quiz/<%= quiz.id %>/delete" method="POST">
            <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    <% } %>
    </div>
    <% } else { %>
      <h1>You have no quizzes</h1>
    <% } %>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/results.js"></script>
    <script src="https://kit.fontawesome.com/8354918fc8.js" crossorigin="anonymous"></script>
  </body>
</html>
