<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz App</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <form id='search-form' action="/search" method="POST">
      <input id="search" type="text" name="search">
      <button type='submit' class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
    </form>
    <div class="quiz-container">
      <div>
        <h1 class="category">General</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'General') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <p><%= quiz.description %></p>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
      <div>
        <h1 class="category">History</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'History') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <p><%= quiz.description %></p>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
      <div>
        <h1 class="category">Arts</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'Arts') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <p><%= quiz.description %></p>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
      <div>
        <h1 class="category">Gaming</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'Gaming') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                  <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <h6><%= quiz.description %></h6>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
      <div>
        <h1 class="category">Programming</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'Programming') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <p><%= quiz.description %></p>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
      <div>
        <h1 class="category">Math</h1>
        <% for (const quiz of quizzes) { %>
          <% if (quiz.category === 'Math') { %>
            <a href="quiz/<%= quiz.id %>">
              <div class="quiz">
                <% if(quiz.image){ %>
                  <div class="quiz-banner">
                    <img src='<%= quiz.image %>'/>
                  </div>
                <% } %>
                <h4><%= quiz.title %></h4>
                <% const style = `linear-gradient(90deg, blue ${Math.round(quiz.average_rating*200)/10}%, black ${Math.round(quiz.average_rating*200)/10}%)` %>
                <span style="background-image: <%=style%>" class="quiz_rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                <p><%= quiz.description %></p>
                <h6>Times played: <%= quiz.times_played %></h6>
                <% if (quiz.time_limit === '00:00:00') { %>
                  <% quiz.time_limit = 'None'; %>
                <% } %>
                <h6>Time limit: <%= quiz.time_limit %></h6>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8354918fc8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/drop-down.js"></script>
  </body>
</html>
