<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz App</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div id='new-questions'>
      <form id="new-quiz-container" method="POST">
        <h1 name="quiz_id"><%= quiz.title %></h1>
        <label for="question">New Question*</label>
        <input id="question" type="text" name="question">
        <label for="answer_1">Answer 1*</label>
        <input id="answer-1" type="text" name="answer_1">
        <label for="answer_2">Answer 2*</label>
        <input id="answer-2" type="text" name="answer_2">
        <label for="answer_3">Answer 3*</label>
        <input id="answer-3" type="text" name="answer_3">
        <label for="answer_correct">Correct Answer*</label>
        <input id="correct-answer" type="text" name="answer_correct">
        <label for="answer_correct">Image url <i class="fas fa-file-image"></i></label>
        <input id="image" type="text" name="image">
        <label for="answer_correct">Audio url <i class="fas fa-file-audio"></i></label>
        <input id="audio" type="text" name="audio">
        <input id="qId" type="number" name="quiz_id" value="<%=quiz_id%>" style="opacity: 0;">
        <div class='div-buttons'>
          <button type="submit" class="btn btn-outline-primary">Add Question</button>
          <a class="btn btn-outline-primary" href="/">Submit</a>
        </div>
      </form>
      <div id="question-container">
        <h1>Questions</h1>
        <% for (const question of questions) { %>
          <div class="quiz-question">
            <h4><%= question.question %></h4>
            <p><%= question.answer_correct %></p>
          </div>
        <% } %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/make-quiz-questions.js"></script>
    <script src="https://kit.fontawesome.com/8354918fc8.js" crossorigin="anonymous"></script>

  </body>
</html>
