<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz App</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <% if(result && quiz) {  %>
    <h1 class="username"><%= result.username %> </h1>
    <div id="result-container">
      <div class="results">
        <h1>Result</h1>
        <h2><%= quiz.title %></h2>
        <h3><%= quiz.category %></h3>
        <h4>Score: <%= result.result %></h4>
        <h4>Average Score: <%= average_score %>%</h4>
        <h4>Time Spent: <%= result.time_spent %></h4>
        <% if (averageTime.average_time.seconds === undefined) { %>
          <% averageTime.average_time.seconds = '0' %>
        <% } %>
        <% if (averageTime.average_time.minutes) { %>
          <% console.log(averageTime.average_time.seconds) %>
          <% if (averageTime.average_time.minutes < 10 && averageTime.average_time.seconds < 10) { %>
            <h4>Average Time Spent: 00:0<%= averageTime.average_time.minutes %>:0<%= averageTime.average_time.seconds %></h4>
          <% } else if (averageTime.average_time.minutes < 10) { %>
            <h4>Average Time Spent: 00:0<%= averageTime.average_time.minutes %>:<%= averageTime.average_time.seconds %></h4>
          <% } else if (averageTime.average_time.seconds < 10) { %>
            <h4>Average Time Spent: 00:<%= averageTime.average_time.minutes %>:0<%= averageTime.average_time.seconds %></h4>
          <% } else { %>
            <h4>Average Time Spent: 00:<%= averageTime.average_time.minutes %>:<%= averageTime.average_time.seconds %>
          <% } %>
        <% } else { %>
          <% if (averageTime.average_time.seconds < 10) { %>
            <h4>Average Time Spent: 00:00:0<%= averageTime.average_time.seconds %></h4>
          <% } else { %>
            <h4>Average Time Spent: 00:00:<%= averageTime.average_time.seconds %></h4>
          <% } %>
        <% } %>
        <h4 class='result-score'>
          <% const style = `linear-gradient(90deg, blue ${result.result}, transparent ${result.result})` %>
          <p style='background-image: <%=style%>'></p>
          <div>
            <span class="score-letter">D</span>
            <span class="score-letter">C</span>
            <span class="score-letter">B</span>
            <span class="score-letter">A</span>
          </div>
        </h4>
        <button reId="<%= result.id %>" usId="<%= result.user_id %>" quId="<%= result.quiz_id %>" type="button" class="btn btn-outline-primary share-result">Share Result</button>
        <button quId="<%= result.quiz_id %>" type="button" class="btn btn-outline-primary share-quiz">Share Quiz</button>
      </div>
    </div>
    <% } else { %>
        <h1>It seems this result doesn't exist</h1>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/results.js"></script>
  </body>
</html>
