<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <% if(quiz){ %>
      <title><%= quiz.title %> | Quiz App</title>
    <% } else { %>
      <title>Not found | Quiz App</title>
    <% } %>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div id="timer">00:00:00</div>
    <% if(quiz){ %>
    <form action="/quiz/result/new" method="POST" id="take-quiz">
      <h1><%= quiz.title %></h1>
      <% for (const question of questions) { %>
        <h2><%= question.question %></h2>
        <div class="answer-container">
          <% const order = []%>
          <% while(order.length < 4) { %>

            <% const rand = Math.ceil(Math.random() * 4) %>
            <% let notFound = true %>

            <% order.forEach((element) => { %>
              <% if(element === rand){ %>
                <% notFound = false; %>
              <% } %>
            <% }); %>

            <% if(notFound){ %>
              <% order.push(rand) %>
            <% } %>

          <% } %>

          <% order.forEach((element) => { %>
            <% if(element === 1){ %>
              <h4 class="a"><input type="checkbox" name="0"><%= question.answer_1 %></h4>
            <% } %>
            <% if(element === 2){ %>
              <h4 class="b"><input type="checkbox" name="0"><%= question.answer_2 %></h4>
              <% } %>
            <% if(element === 3){ %>
              <h4 class="c"><input type="checkbox" name="0"><%= question.answer_3 %></h4>
              <% } %>
            <% if(element === 4){ %>
              <h4 class="d"><input type="checkbox" name="1"><%= question.answer_correct %></h4>
              <% } %>
          <% }); %>

        </div>
      <% } %>
      <span id='stars'>
        <div class='star' val="1"><i class="fas fa-star"></i>

        </div>
        <div class='star' val="2"><i class="fas fa-star"></i>

        </div>
        <div class='star' val="3"><i class="fas fa-star"></i>

        </div>
        <div class='star' val="4"><i class="fas fa-star"></i>

        </div>
        <div class='star' val="5"><i class="fas fa-star"></i>

        </div>
      </span>
      <button id="finish-quiz" type="submit" class="btn btn-outline-primary">Submit</button>
      <input id="rating" type="number" name="quiz_rating" value="0" style="display: none;">
      <input type="number" name="quiz_id" value="<%= quiz.id %>" style="display: none;">
      <input type="text" name="time_spent" value="" style="display: none;">
      <input type="text" name="time_limit" value="<%= quiz.time_limit %>" style="display: none;">
      </form>
      <% } else { %>
        <h1>This quizz's existence is false</h1>
      <% } %>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/take-quiz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
    <script src="https://kit.fontawesome.com/8354918fc8.js" crossorigin="anonymous"></script>

  </body>
</html>
